/* Custom scrollbars in tables */
.mrt-table-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.mrt-table-container::-webkit-scrollbar {
    right: 0;
    width: 10px;
    height: 10px;
}

.mrt-table-container::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 10px;
    height: 10px;
}

/* Enable line wrap in table cells */
.mrt-table td {
    white-space: pre-wrap;
}

/* For formatted markdown displayed in table */
.mrt-table h1, .mrt-table h2, .mrt-table h3, .mrt-table h4, .mrt-table h5, .mrt-table h6, .mrt-table li {
    margin: 0;
}